@model TechWriteServer.Models.Blog.Blog
@{
    var loginUserId = ViewBag.LoginUserId;
}
@if (!string.IsNullOrEmpty(@ViewBag.LoginUserName))
{
    <div class="likeDislikeContainer">
        <span>
            <a href="javascript:void(0);" class="likeSentiment-button" data-blog-id="@Model?.BlogId">
                <img src="/Images/LikeBlog.png" style="width:30px;height:30px" />
            </a>
            <span class="like-count">@Model?.BlogLikes.Count()</span>
        </span>       
    </div>
}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {       
        $(".likeSentiment-button").click(function () {
            
            var blogLikeRequest = {
                BlogId: $(this).data("blog-id"),
                UserId: '@loginUserId',               
            };           
            var likeButton = $(this);
            var likeCountElement = likeButton.parent().find('.like-count');
            $.ajax({
                url: '/api/BlogLikeApi/UpdateBlogLike',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(blogLikeRequest),
                dataType: 'json',
                success: function (response) {
                    likeCountElement.text(response);
                },
                error: function (error) {
                    console.error('Error liking the blog:', error);
                }
            });
        });
    });
</script>
