@model List<TechWriteServer.Models.Blog.Blog>
<span style="margin-left:300px">Top Trending <b>@Model?.Count</b></span></span><br/>
<span><span  style="
    font-size: xx-large;">Trending Blogs</span> <img src="/Images/Trending.png" style="width: 40px;height: 40px;"></img></span>
<br />
<br />
@if (Model != null && Model.Count > 0)
{
    @foreach (var blog in Model)
    {
        <h5>@blog.Title</h5>
        <p>@blog.Description</p>

        <span><b>Author:</b> @blog?.User?.UserName</span>
        <br />
                <span><b>Published Date: </b>@blog?.PublishedDate.ToString("MMMM dd, yyyy hh:mm:ss tt")</span>       
        <br />
        <br />
    }
}
